@model IEnumerable<EnginerWebApplication.Data.Instruction>

@{
    ViewData["Title"] = "ShowAllInstruction";
}

<h2>ShowAllInstruction</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class=" row">
    @foreach (var item in Model)
    {
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <div class=" text-center">
                   <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                </div>


        @*@Html.DisplayFor(modelItem => item.InstructionId)*@

        <p>@Html.DisplayFor(modelItem => item.Description)</p>

        @*@Html.DisplayFor(modelItem => item.Name)*@

                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

            </div>
        </div>
     </div>
     }
</div>
